.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('./fonts/KaushanScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Enchant';
  src: url('./fonts/Enchant.ttf') format('truetype');
}

.head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.head p{
  margin-bottom: 0;
  font-family: 'Enchant';
  color: rgb(255, 255, 255);
  font-size: 70px;
  letter-spacing: 2px;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30)  forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100vh;
  }
}

.bio{
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 5px;
  margin-top: 0;
  font-family: 'Sans Serif';
  color: rgb(255, 255, 255);
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 20px;
}


.social-icons {
  display: flex;
  justify-content: center;
  
}

.icon-link {
  text-decoration: none;
  color: #ffffff;
  margin: 7px 10px;
}

.icon {
  font-size: 40px; /* Adjust the icon size as needed */
  margin: 5px; /* Add margin for spacing between icons */
}

